<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="PhotoBoardMapper">

  <resultMap type="PhotoBoard" id="PhotoBoardMap">
    <id column="photo_id"   property="no"/>
    <result column="titl"  property="title"/>
    <result column="cdt"  property="createdDate"/>
    <result column="vw_cnt"    property="viewCount"/>
    
    <association property="recipe" javaType="Recipe">
      <id column="recipe_id" property="no"/>
      <result column="cook" property="cook"/>
    </association>
    
    <collection property="files" ofType="PhotoFile">
      <id column="photo_file_id"   property="no"/>
      <result column="file_path"  property="filepath"/>
    </collection>
  </resultMap>
    
  <insert id="insertPhotoBoard" parameterType="PhotoBoard"
    useGeneratedKeys="true" keyColumn="photo_id" keyProperty="no">
    insert into rms_photo(titl,recipe_id) 
    values(#{cook}, #{recipe.no})
  </insert>
  
  <select id="selectPhotoBoard" resultMap="PhotoBoardMap" parameterType="int">
    select 
      photo_id, 
      titl, 
      cdt, 
      vw_cnt
    from rms_photo
    where 
      recipe_id=#{no}
    order by 
      photo_id desc
  </select>

  <select id="selectDetail" resultMap="PhotoBoardMap" parameterType="int">
    select
      p.titl,
      p.cdt,
      p.vw_cnt,
      r.recipe_id,
      r.cook,
      f.photo_file_id,
      f.file_path
    from rms_photo p
      inner join rms_recipe r on p.recipe_id=r.recipe_id
      left outer join rms_photo_file f on p.photo_id=f.photo_id
    where photo_id=#{no}
  </select>
  
  <update id="updatePhotoBoard" parameterType="PhotoBoard">
    update rms_photo set
      titl=#{title}
    where photo_id=#{no}
  </update>
  
  <delete id="deletePhotoBoard" parameterType="int">
    delete from rms_photo
    where photo_id=#{no}
  </delete>
</mapper>
